<!--
<div class="animate__animated animate__fadeIn animate_faster">
  <app-barra-cierre></app-barra-cierre>
  <div class="container_recursos">
    <div>
      <button pButton style="margin-right: 1rem;" class="p-button-success button-agregar" icon="pi pi-plus" label="Nuevo Recurso" (click)="put()" ></button>
    </div>
    <div class="card_recurso" *ngFor="let recurso of recursos">
      <span class="recurso_name">
        {{recurso.nombre|titlecase}}
      </span>
      <div>
        <button pButton style="margin-right: 0.5rem;" class="p-button-warning" icon="pi pi-pencil" (click)="post(recurso)"></button>
        <button pButton class="p-button-danger" icon="pi pi-times" (click)="delete(recurso)"></button>
      </div>
    </div>
  </div>
</div>
-->
